extends layout

block vars
    - let title = '火星人科技'

block content
    .container
        include lib/head
        #content
            .content-inner(style='background-image: url(/public/images/about/bg7.jpg)')
                .block.block-about
                    .about-thumb(style='padding:40px;padding-bottom:0')
                        img(src='/public/images/about/img-6289-v1.jpg')
                    .about-content.editor-format
                        h3
                            strong GENTASION·泽田森视觉
                        p
                            | 泽田森团队成立于2015年广州，泽田森专注于为客户创造和管理品牌，提供从品牌资产研究、市场洞察、品牌机会分析、品牌战略、品牌组合规划、命名和语词创作、设计（包括品牌识别设计、环境空间导示设计、包装设计、网络设计）到内部品牌导入、品牌管理制度建设的综合性服务，以提升客户在海内外的品牌影响力。泽田森的客户均为各个行业的领导品牌。
                        p
                            | 在别人眼里,这只是你的一盘生意,但在我们眼里,它是一个梦想
                            br
                            | 你需要我们，和你一起去实现它!
                            br
                            | 卓越品牌绝非数字买卖，而是植入人心的心智财富。
                            br
                            | 卓越品牌代表的是一项庄严的承诺与保证，而承诺则由"精神"支持。
                            br
                            | 只有那些拥有梦想，追求卓越精神的人，相信用专业可赢得专业的人，才能提供动人心魄的品牌。
                            br
                            | 泽田森每一位伙伴都有一个愿望：成为中国品牌设计咨询领域，最具专业价值的公司之一，
                            br
                            | 为梦想者，创造梦想品牌！
                        p
                            | 横夸品牌战略规划、品牌价值提升、以精准的策划、设计、制作为系统服务的公司。 通过品牌的整体研判、策略构建、美学设计和影像制作形成综合性力量，帮助有潜质的客户获得实效性和实质性收益，产生可量化管理结果。
                        p 我们一直致力于探索思想性和策略性的规划，通过合理的流程和机制，以市场实战结果为导向，提供前瞻性、可操作性的品牌管理，以高端的服务解决客户高度的需求。
