extends layout

block vars
    - let title = '火星人科技'

block content
    .container
        include lib/head
        #content
            input#interval(style='display:none;', type='text', value='5000')
            #slider-1.slider-1
                ul.slider-list
                    li.slider-item
                        .thumb(style='background-image: url(/public/images/home/bg4.jpg);')
                        .bg
                        .info
                            .desc.editor-format
                            a.link(href='vision')
                                p 点击查看作品
                    li.slider-item
                        .thumb(style='background-image: url(/public/images/home/bg1.jpg);')
                        .bg
                        .info
                            .desc.editor-format
                                h3 WELCOME TO GENTASION
                            a.link(href='vision')
                                p 点击查看作品
                    li.slider-item
                        .thumb(style='background-image: url(/public/images/home/bg2.jpg);')
                        .bg
                        .info
                            .desc.editor-format
                            a.link(href='vision')
                                p 点击查看作品
                    li.slider-item
                        .thumb(style='background-image: url(/public/images/home/bg3.jpg);')
                        .bg
                        .info
                            .desc.editor-format
                            a.link(href='', target='_self')
                                p 点击查看作品





block script
    script.
