extends layout

block vars
    - let title = '火星人科技'

block content
    .container
        include lib/head
        #content
            .content-inner(style='background-image: url(/public/images/movie/bg6.jpg)')
                .block.block-news
                    .news-item
                        .news-thumb(style='background-image: url(/public/images/movie/bg6.jpg)')
                            a.mask(href='javascript:;')
                        .news-time
                            span.year 2015
                            span.date 04月30日
                        h3.title
                            a(href='javascript:;') 2015年esons春装新品发布大片拍摄花絮
                        span.desc
                            embed(height='520', width='860', src='/public/images/movie/fi000005.swf')
                        p
                            a.more(href='javascript:;') 继续阅读 >
                    .news-item
                        .news-thumb(style='background-image: url(/public/images/movie/bg6.jpg)')
                            a.mask(href='javascript:;')
                        .news-time
                            span.year 2015
                            span.date 01月01日
                        h3.title
                            a(href='javascript:;') 广州DMX音响音效宣传片
                        span.desc
                            embed(src='/public/images/movie/fi000005.swf' width='860', height='520')
                            | 二十多年以来，企业研…
                        p
                            a.more(href='javascript:;') 继续阅读 >
                    .news-item
                        .news-thumb(style='background-image: url(/public/images/movie/bg6.jpg)')
                            a.mask(href='javascript:;')
                        .news-time
                            span.year 2014
                            span.date 02月14日
                        h3.title
                            a(href='javascript:;') BBS话筒视频广告欣赏 Best Beautiful Sound!
                        span.desc
                            embed(src='/public/images/movie/fi000004.swf' width='860', height='520')
                            | 激情与灵感的创造，品质与…
                        p
                            a.more(href='javascript:;') 继续阅读 >
                    .news-item
                        .news-thumb(style='background-image: url(/public/images/movie/bg6.jpg)')
                            a.mask(href='javascript:;')
                        .news-time
                            span.year 2015
                            span.date 03月28日
                        h3.title
                            a(href='javascript:;') SEDATE水云间品牌形象短片
                        span.desc
                            embed(src='/public/images/movie/fi000003.swf' width='860', height='520')
                        p
                            a.more(href='javascript:;') 继续阅读 >
                    .news-item
                        .news-thumb(style='background-image: url(/public/images/movie/bg6.jpg)')
                            a.mask(href='javascript:;')
                        .news-time
                            span.year 2015
                            span.date 03月28日
                        h3.title
                            a(href='javascript:;') 格力的蓝天梦想（光伏中央空调诞生记11分钟）
                        span.desc
                            embed(src='/public/images/movie/fi000002.swf' width='860', height='520')
                        p
                            a.more(href='javascript:;') 继续阅读 >
                    .news-item
                        .news-thumb(style='background-image: url(/public/images/movie/bg6.jpg)')
                            a.mask(href='javascript:;')
                        .news-time
                            span.year 2015
                            span.date 03月29日
                        h3.title
                            a(href='javascript:;') 普泛施国际
                        span.desc
                            embed(src='/public/images/movie/fi000001.swf' width='860', height='520')
                        p
                            a.more(href='javascript:;') 继续阅读 >
                    .page.clearfix
                        a.active(href='movie') 1



block script
    script.
