extends layout

block vars
    - let title = '火星人科技'

block content
    .container
        include lib/head
        #content
            #slider-4.slider-4.col-4
                ul#slider-list.slider-list
                ul#temp.temp.hide
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/000001.jpg' title='<p>BHXP · 佰匯熙品</p>')
                                .thumb
                                    img(src='/public/images/plane/000001-f90e96dca66975aad1fc25129a3f4e21.jpg')
                                .info
                                    p BHXP · 佰匯熙品
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/000002.jpg' title='<p>BHXP · 佰匯熙品</p>')
                                .thumb
                                    img(src='/public/images/plane/000002-8d3c1a1b3bbdb454cacdfae2a368254f.jpg')
                                .info
                                    p BHXP · 佰匯熙品
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/000003.jpg' title='<p>BHXP · 佰匯熙品</p>')
                                .thumb
                                    img(src='/public/images/plane/000003-38a00369d8dfb3f619fafbbdc210888b.jpg')
                                .info
                                    p BHXP · 佰匯熙品
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/000004.jpg' title='<p>BHXP · 佰匯熙品</p>')
                                .thumb
                                    img(src='/public/images/plane/000004-fcfdbed4bdb9853f48ec2f0b2a46d6d6.jpg')
                                .info
                                    p BHXP · 佰匯熙品
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/000005.jpg' title='<p>BHXP · 佰匯熙品</p>')
                                .thumb
                                    img(src='/public/images/plane/000005-c404b6f91e57327bc1a456f7f0c7bf70.jpg')
                                .info
                                    p BHXP · 佰匯熙品
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/000006.jpg' title='<p>BHXP · 佰匯熙品</p>')
                                .thumb
                                    img(src='/public/images/plane/000006-49335f2cd78d6a76b8a1b48f3227b37b.jpg' alt='')
                                .info
                                    p BHXP · 佰匯熙品
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/000007.jpg' title='<p>BHXP · 佰匯熙品</p>')
                                .thumb
                                    img(src='/public/images/plane/000007-b4cc6edd575447bbf6ff0dcd003a733a.jpg')
                                .info
                                    p BHXP · 佰匯熙品
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/000008.jpg' title='<p>BHXP · 佰匯熙品</p>')
                                .thumb
                                    img(src='/public/images/plane/000008-236bf0443bf20e1620572b42c7624cbf.jpg')
                                .info
                                    p BHXP · 佰匯熙品
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/000009.jpg' title='<p>BHXP · 佰匯熙品</p>')
                                .thumb
                                    img(src='/public/images/plane/000009-96dc8f8f3936a8ef99ee109a35694b67.jpg', tppabs='http://www.zetiansen.com/thumbs/000009-96dc8f8f3936a8ef99ee109a35694b67.jpg', alt='')
                                .info
                                    p BHXP · 佰匯熙品
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/0000091.jpg' title='')
                                .thumb
                                    img(src='/public/images/plane/0000091-6b2742d242bd378067a00185c29c30d5.jpg')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/0001.jpg' title='')
                                .thumb
                                    img(src='/public/images/plane/0001-e0d9a9fb57313bffae69c6516179ca4f.jpg')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/0002.jpg' title='')
                                .thumb
                                    img(src='/public/images/plane/0002-8cb58bcca4553b78f10c7edb4a079d4d.jpg')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/0003.jpg' title='')
                                .thumb
                                    img(src='/public/images/plane/0003-e56e59808841d8367a1c8c44793b31cd.jpg')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/0004.png' title='')
                                .thumb
                                    img(src='/public/images/plane/0004-c5b213d2ea251ba713e9509ef55c6456.png')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/0005.jpg' title='')
                                .thumb
                                    img(src='/public/images/plane/0005-59a75b869983d694042f1453249c2959.jpg')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/0006.png' title='')
                                .thumb
                                    img(src='/public/images/plane/0006-eec04fe685a03a4aee2bc4a0e491694e.png')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/a001.jpg' title='')
                                .thumb
                                    img(src='/public/images/plane/a001-2ee01b52ee55bdb9941569ce93cb0860.jpg')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/a002.jpg' title='')
                                .thumb
                                    img(src='/public/images/plane/a002-993a0c973eee2f55e5c7893109664ce7.jpg')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/a005.jpg' title='')
                                .thumb
                                    img(src='/public/images/plane/a005-6ddf4b6a64308083d779f7916778ba42.jpg')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/a01.jpg' title='<p>IEBELONG ·易百珑</p>')
                                .thumb
                                    img(src='/public/images/plane/a01-d851e3b4834976666b2d113766a94507.jpg')
                                .info
                                    p IEBELONG ·易百珑
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/a010.jpg' title='<p>IEBELONG ·易百珑</p>')
                                .thumb
                                    img(src='/public/images/plane/a010-65bde7531c947f5a3bd0918bb3c0d10e.jpg')
                                .info
                                    p IEBELONG ·易百珑
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/a011.jpg' title='')
                                .thumb
                                    img(src='/public/images/plane/a011-155c02d18838db02997b1e42d2881509.jpg')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/a02.jpg' title='<p>IEBELONG ·易百珑</p>')
                                .thumb
                                    img(src='/public/images/plane/a02-b982abc012c66bfce7d6a20ad00afb4d.jpg')
                                .info
                                    p IEBELONG ·易百珑
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/a03.jpg' title='<p>IEBELONG ·易百珑</p>')
                                .thumb
                                    img(src='/public/images/plane/a03-5523b4c6a32f4f3a33adc8f62d01393b.jpg')
                                .info
                                    p IEBELONG ·易百珑
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/a04.jpg' title='')
                                .thumb
                                    img(src='/public/images/plane/a04-8890e18f91299f05fc56dd9a3dcf1ee4.jpg')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/a05.jpg' title='')
                                .thumb
                                    img(src='/public/images/plane/a05-e7c0d84781f0b5aa242ff85d92ba985b.jpg' alt='')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/a06.jpg' title='')
                                .thumb
                                    img(src='/public/images/plane/a06-f3cb7358db5ea45b95f704d043a51656.jpg')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/a07.jpg' title='')
                                .thumb
                                    img(src='/public/images/plane/a07-0ac596a92b20fbe74b4ed296a2101aad.jpg')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/a08.jpg' title='')
                                .thumb
                                    img(src='/public/images/plane/a08-580a0c34fb2a7068294b7789b029543a.jpg')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/a09.jpg' title='')
                                .thumb
                                    img(src='/public/images/plane/a09-87e4884bcb36f8cc4ace7f15c81bb03b.jpg')
                                .info
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/a091.jpg' title='<p>IEBELONG ·易百珑</p>')
                                .thumb
                                    img(src='/public/images/plane/a091-ac0fb09e6efefdfb100ba525fa858753.jpg')
                                .info
                                    p IEBELONG ·易百珑
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/dmx02.jpg' title='<p>DMX·锐高音响</p>')
                                .thumb
                                    img(src='/public/images/plane/dmx02-026094c8fc02dcb22db011bb801b1127.jpg')
                                .info
                                    p DMX·锐高音响
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/dmx03.jpg' title='<p>DMX·锐高音响</p>')
                                .thumb
                                    img(src='/public/images/plane/dmx03-adec8d35979bfe13574db6863fe10f9b.jpg')
                                .info
                                    p DMX·锐高音响
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/lzg01.jpg' title='<p>龙之谷大电影·破晓奇兵海报</p>')
                                .thumb
                                    img(src='/public/images/plane/lzg01-a0bfa25b18dfaf9bc5b23c590fe21784.jpg')
                                .info
                                    p 龙之谷大电影·破晓奇兵海报
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/lzg02.jpg' title='<p>龙之谷大电影·破晓奇兵海报</p>')
                                .thumb
                                    img(src='/public/images/plane/lzg02-dc274caf1423c5739ea854793aad085d.jpg')
                                .info
                                    p 龙之谷大电影·破晓奇兵海报
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/m-1382454756177.jpg' title='<p>SIZHUFANG·丝竹坊</p>')
                                .thumb
                                    img(src='/public/images/plane/m-1382454756177-efb18acc046a56801dc1294c20c90189.jpg')
                                .info
                                    p SIZHUFANG·丝竹坊
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/m-1382454773697.jpg' title='<p>SIZHUFANG·丝竹坊</p>')
                                .thumb
                                    img(src='/public/images/plane/m-1382454773697-d966bd253a40b62de340403dd88dbd55.jpg')
                                .info
                                    p SIZHUFANG·丝竹坊
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/m-1382454774566.jpg' title='<p>SIZHUFANG·丝竹坊</p>')
                                .thumb
                                    img(src='/public/images/plane/m-1382454774566-b56c63d551a78a72bc0fda4ad8a3417c.jpg')
                                .info
                                    p SIZHUFANG·丝竹坊
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/m-1382454777998.jpg' title='<p>SIZHUFANG·丝竹坊</p>')
                                .thumb
                                    img(src='/public/images/plane/m-1382454777998-901afa188ffc211e6971aec11ad4569c.jpg')
                                .info
                                    p SIZHUFANG·丝竹坊
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/m-1382454867186.jpg' title='<p>SIZHUFANG·丝竹坊</p>')
                                .thumb
                                    img(src='/public/images/plane/m-1382454867186-bf815ed60272f1b1fb93e91128bead29.jpg')
                                .info
                                    p SIZHUFANG·丝竹坊
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/z32423.jpg' title='<p>DMX·锐高音响展会海报</p>')
                                .thumb
                                    img(src='/public/images/plane/z32423-4a7b4a2dcaae71ef7c214a14788decda.jpg')
                                .info
                                    p DMX·锐高音响展会海报
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/z5328f743edbba.jpg' title='<p>凌丰厨具画册</p>')
                                .thumb
                                    img(src='/public/images/plane/z5328f743edbba-0513b2b0b2f3dd0ce13249212303e9c0.jpg')
                                .info
                                    p 凌丰厨具画册
                                span.mask(href="javascript:;")
                    li.slider-item
                        .inner
                            a.fancybox(rel='group', href='/public/images/plane/z876ce2c9f821602ca4e24054e195bbd2.jpg')
                                .thumb
                                    img(src='/public/images/plane/z876ce2c9f821602ca4e24054e195bbd2-9b3d87bad8e5cebde541e2d6ab43f57d.jpg')
                                .info
                                span.mask(href="javascript:;")




block script
    script.


